DISCORD_TOKEN=
MONGO_TOKEN=
GIPHY_TOKEN=dcBYTFAOdyymbJFwKO88Nru0mLiwwLXP
WEBHOOK_ID=
WEBHOOK_TOKEN=
DISCORD_ID=

# Not neccessary variables
# Wondering how to get these? Check out https://github.com/CorwinDev/Discord-Bot#requirements
DISCORD_STATUS="/help | Idk!"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=bf6aa315678d4f91a8955338d1bf95e1
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=nexus.voidhosting.vip
LAVALINK_PASSWORD=cocaine
LAVALINK_PORT=6004
LAVALINK_SECURE=false
OPEN
